header{
   margin: 50px;
   text-align: center;
   height: 75%;
}
#start{
    text-align: center;
}
body{
    background-color: antiquewhite;
    font-family: 'Raleway', sans-serif;
}
.questions{
    text-align: center;
}
.timeRemaining{
    text-align: center;
    border-style: solid;
}